#header {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

#container {
    justify-content: center;
}

#square {
    display: flex;
    height: 10px;
    width: 10px;
    border: auto;
    background-color: white;
    border-style: solid;
    border-color: black;
}